.formation-1{
  display: grid;
  grid-template-columns: 130px 500px 150px 300px;
  row-gap: 30px;
  column-gap: 30px;
  
  padding-top: 10vh;
}
.formation-1 input{
  border-top: 1px solid #784F33;
  border-radius: 6px;
  height: 7vh;
  padding: 15px;
  width: 35vh;
  font-style: italic;
}
.formation-2{
  display: block;
  row-gap: 30px;
  column-gap: 30px;
  padding-top: 10vh;
  margin:0 auto;
}
.formation-2 input{
  border-top: 1px solid #00BDD6;
  border-radius: 6px;
  height: 7vh;
  padding: 15px;
  width: 35vh;
  font-style: italic;
}

textarea{
  border-radius: 8px; 
  border-top: 1px solid #00BDD6;
  padding: 15px;
}

#button-btn{
  margin-left: 145vh;
  position: sticky;
  padding: 10px 20px;
}


.main-content, #main-content{
  height: fit-content;
  width: 300vh;
  
}


  .form-form{
    background: #faf8f7;
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:170vh;
    height: fit-content;
    padding-left: 10vh;
    margin:0 auto;
  }
  .formation-1{
    padding-left: 1rem;
  }
  i{
    color:#faf8f7
  }


@media screen and (max-width: 1500px) {
  .form-form{
    background: #faf8f7;
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 280vh;
    height: fit-content;
    padding-left: 10vh;
  }

i{
  color:#faf8f7
}
}