:root{
  --primary-color:#EC9124;
}

#button-btn{
  margin-left: 145vh;
  position: sticky;
  padding: 10px 20px;
}

.formation-1 input{
  border-top: 1px solid var(--primary-color);
  border-radius: 6px;
  height: 7vh;
  padding: 15px;
  width: 35vh;
  font-style: italic;
}

.formation-1 select{
  border-top: 1px solid var(--primary-color);
  border-radius: 6px;
  height: 7vh;
  padding: 15px;
  width: 35vh;
  font-style: italic;
}

textarea{
  border-radius: 8px; 
  border-top: 1px solid var(--primary-color);
  padding: 15px;
}

.form-form{
  background: #faf8f7;
  opacity: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width:170vh;
  height: fit-content;
  padding-left: 10vh;
  margin:0 auto;
}

.formation-1{
  display: grid;
  grid-template-columns: 130px 500px 150px 300px;
  row-gap: 30px;
  column-gap: 30px;
  padding-left:1rem;
  padding-top: 10vh;
}


table {
  width: 80%;
  margin: auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
  box-shadow: 8px 8px 8px grey;
  border-radius: 15px;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}
th {
  background: var(--primary-color);
  color: #fff;
  font-size: 20px;
}
tr {
  border-radius: 15px;
}
tr:hover {
  box-shadow: 8px 8px 8px grey;
  background: #ddd;
}
.table-containment h1 {
  text-align: center;
}
.tablestotable {
  margin-top: 80px;
}
.td {
  display: flex;
  justify-content: center;
  padding: .3rem .5rem;
}
td button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  margin: .5rem;
  background: #21A747;
  color: #fff;
  cursor: pointer;
}
.td a {
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}
.td a.fg-eric1 {
  background: #21A747;
}
.td a.fg-eric2 {
  background: red;
}
.td a:hover {
  opacity: 0.8;
}